*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
line-height:1.8;
font-size:18px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#020617;
flex-wrap:wrap;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin:10px;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:18px;
}

.logo{
color:#38bdf8;
font-size:26px;
}

/* HERO */

.hero{
padding:80px 10%;
}

.hero-container{
display:flex;
align-items:center;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
}

.hero-image img{
width:400px;
}

.hero-text{
max-width:600px;
}

.hero-text h1{
font-size:48px;
margin-bottom:10px;
}

.hero-text span{
color:#38bdf8;
}

.hero-text h2{
font-size:24px;
margin-bottom:20px;
}

.buttons{
margin-top:20px;
}

.btn{
background:#38bdf8;
color:black;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
margin-right:10px;
}

.btn2{
border:2px solid #38bdf8;
color:#38bdf8;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
}

/* SECTIONS */

section{
padding:70px 10%;
}

h2{
text-align:center;
margin-bottom:40px;
color:#38bdf8;
font-size:32px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:10px;
}

.tech-container{
display:flex;
flex-wrap:wrap;
gap:15px;
justify-content:center;
}

.tech-container span{
background:#1e293b;
padding:10px 20px;
border-radius:20px;
}

#achievements ul{
max-width:700px;
margin:auto;
}

#achievements li{
margin:12px 0;
}

#contact{
text-align:center;
}

footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:40px;
}

/* MOBILE */

@media(max-width:768px){

.hero-container{
flex-direction:column;
align-items:center;
text-align:center;
}

/* Hero Image */

.hero-image{
order:1;
}

.hero-image img{
width:260px;
max-width:100%;
margin-bottom:20px;
}

/* Hero Text */

.hero-text{
order:2;
}

/* Navbar */

nav{
flex-wrap:wrap;
justify-content:center;
padding:15px;
}

nav ul{
display:flex;
flex-wrap:wrap;
justify-content:center;
width:100%;
}

nav ul li{
margin:6px 10px;
}

nav ul li a{
font-size:16px;
}

/* Sections */

section{
padding:50px 20px;
}

/* Cards */

.grid{
grid-template-columns:1fr;
}

}